@import "config";

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($dark-color, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &-content {
    @include absoluteCenter;
    width: 75%;
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba($dark-color, 0.2);
    border-radius: 3px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-content: center;
  }

  &-left {
    margin: 10px;
  }

  &-right {
    margin: 10px;
    .btn-wrapper {
      display: grid;
      grid-template-columns: auto auto auto;
      grid-gap: 4rem;
    }
  }

  &-features {
    font-size: 1.5rem;
    margin-top: 1rem;
  }

  &-img {
    width: 100%;
  }

  &-text {
    margin-bottom: 10px;
    font-size: 1.3rem;
  }
}
