@import "config";

.container {
  max-width: $website-width;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
}

// Buttons
%btn-shared {
  display: inline-block;
  transition: all 0.3s;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 100px;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.8rem 2rem;
}

.btn {
  &-main {
    @extend %btn-shared;
    color: #333;
    background: $main-color;
  }

  &-light {
    @extend %btn-shared;
    color: #333;
    background-color: $light-color;
  }

  &-dark {
    @extend %btn-shared;
    color: #f4f4f4;
    background-color: $dark-color;
    padding: 0.8rem 2rem;
  }

  &-animated {
    animation: moveFromBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }

  &:link {
    transition: all 0.2s; //initial state for animations
  }

  &:hover {
    background: $accent-color;
    color: $light-color;
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.9);
  }

  &:active {
    transform: translateY(-3px);
    box-shadow: 0 50px 20px rgba(0, 0, 0, 0.2);
  }
}

.certified-text {
  animation: moveFromRight 1.3s ease-out;
}

.lead {
  font-size: 2rem;
  margin-bottom: 2rem;
  animation: moveFromLeft 1s ease-out;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

// this is for button coming from the bottom
@keyframes moveFromBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

// this is for certified-text coming from right
@keyframes moveFromRight {
  0% {
    opacity: 0;
    transform: translateX(500px);
  }
  100% {
    opacity: 1;
    transform: translate(20);
  }
}

// this is for lead coming from left
@keyframes moveFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

// Padding
.py {
  &-1 {
    padding: 1rem 0;
  }
  &-2 {
    padding: 2rem 0;
  }
  &-3 {
    padding: 3rem 0;
  }
  &-4 {
    padding: 4rem 0;
  }
}

// Margin
.my {
  &-1 {
    margin: 1rem 0;
  }
  &-2 {
    margin: 2rem 0;
  }
  &-3 {
    margin: 3rem 0;
  }
  &-4 {
    margin: 4rem 0;
  }
}

// Margin-top
.mt {
  &-half {
    margin-top: 0.5rem;
  }
  &-1 {
    margin-top: 1rem;
  }
}
@mixin big-font($fontSize) {
  font-size: $fontSize;
  padding-bottom: 0.5rem;
  font-weight: 100;
  text-transform: uppercase;
  @content;
}
.section-title {
  @include big-font(2rem);
  text-align: center;
  display: block;
}

.tech-cat {
  @include big-font(1.8rem);
  color: $main-color;
}

.tech {
  @include big-font(1.8rem);
  color: $light-color;
  text-transform: none;
}

.bottom-line {
  height: 4px;
  width: 7rem;
  background: $accent-color;
  display: block;
  margin: 0 auto 1rem auto;
}

.company {
  color: $main-color;
  font-size: 25px;
  font-weight: bold;
}

.position {
  font-size: 22px;
  font-weight: bold;
}

// Backgrounds
.bg {
  &-main {
    background: $main-color;
    color: set-text-color($main-color);
  }
  &-dark {
    background: $dark-color;
    color: set-text-color($dark-color);
  }
  &-light {
    background: $light-color;
    color: set-text-color($light-color);
  }
  &-medium {
    background: $medium-color;
    color: set-text-color($main-color);
  }
}
